body {
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
    color:royalblue;
    text-align: center;
}
h2 {
    color: royalblue;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
}
p {
    color:royalblue;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

label {
    color: #f0f0f0;
    font-size: 18px;
    font-weight: 500;
    display: inline;
}

 input, textarea {
    font: 1em sans-serif;
    width: 300px;
    border: 1px royalblue;
        }

input:focus, textarea:focus {
    outline-style: solid;
    outline-color: royalblue;
        }
    
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid royalblue;
  outline-offset: 2px;
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section, header {
   width: 50%;
    margin: 0 auto;
    padding: 20px;
}
@media(max-width: 768px){
section, header {
   width: 90%;
    padding: 10px;
    }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.card {
  background: gray;
  border: 1px solid royalblue;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}



nav {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: royalblue;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color:gray;
  color: royalblue;
  display: inline-block;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid royalblue;
}

thead {
  background-color: royalblue;
  color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

img.responsive {
    max-width: 100%;
    height: auto;
}    

.flex-container {
    display: flex;
}

.flex-container div{
    flex: 1;
    background: gray;
    border: 4px solid royalblue;
    height: 100%;
}

a {
  color: #005fcc;
  text-decoration: underline;
}
a:hover {
  color: #003f99;
  background-color: gray;
}

.card:hover {
  background-color: #dcdcdc;
  transition: background-color 0.3s ease;
}

.name-cell {
  color: #005fcc;
}

ul, ol {
  color: royalblue;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1.5;
}