body {
    background-color:darkslategrey ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
    color:royalblue;
    text-align: center;
}
h2 {
    color: royalblue;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
}
p {
    color:royalblue;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

label {
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: inline;
}

 input, textarea {
    font: 1em sans-serif;
    width: 300px;
    border: 1px solid #999999;
        }

input:focus, textarea:focus {
    outline-style: solid;
    outline-color: black;
        }

