body {
    background-color: burlywood;
    font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
    color:darkblue;
    text-align: center;
}
h2 {
    color: rgb(120, 20, 20);
    text-align: center;
    font-weight: 400;
    font-size: 36px;
}
p {
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

